<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" style="border-radius: 20px;">
    <title><%=title%></title>
    <style>
        button{ 
            height:32px;
            background-color:rgb(155, 255, 5); 
            border-radius: 20px;   
            font-weight: bolder; 
            display:inline; 
            position: relative; 
            justify-content: end;
        }
        a{
            text-decoration: none;
            font-weight: bolder;
        }
    </style>
</head>
<body style="background-color: aquamarine;">
    <h1 align="center">Welcome to User Manual</h1>
    <h2>If you know How to use the App you can click below button to go back</h2>
    <a href="/"><button>TODO APP</button></a>
    <h2>Steps to add task</h2>
    <p>First enter the task name in the <strong>DESCRIPTION</strong> box.</p>
    <p>Then select one category from the dropdown option in <strong>CATEGORY</strong> option</p>
    <p>Select the due date for the task from <strong>Due-Date</strong> option</p>
    <p>Now click on <strong>ADD Task</strong></p>
    <p>Congratulation, Your first task is created</p>
    <br>
    <h2>How to checkPending task</h2>
    <p>You can check the pending task in <strong>Pending Task</strong> tag, You will find the count there</p>
    <br>
    <h2>How to check completed task</h2>
    <p>You can check the completed task in <strong>Completed Task</strong> tag, You will find the count there</p>
    <br>
    <h2>How to mark task as Completed</h2>
    <p>To mark the task as completed you need to click on the checkbox of that task</p>
    <p>Congratulation the task is now marked as completed</p>
    <p><strong>Note: All the completed task will be deleted if you click on delete button.</strong>
    <br>
    <h2>Deleting Task</h2>
    <p>To delete task simply check the <strong>checkbox</strong> of the task which you want to delete (<strong>Note: </strong>You can select multiple task's also)</p>
    <p>After selecting the task's which you want to delete click on <strong>Delete</strong></p>
    <p>Congratulation all the selected task's are deleted now.</p>
</body>
</html>